.desktop-navbar{
    width: 100%;
    height: 4rem;
    /* border: 1px solid red; */
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    
    /* after */
    position: sticky;
    top: 0;
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
}
.desktop-navbar-1{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.desktop-navbar-1 a img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
}
.desktop-1-2{
    display: flex;
    gap: 0.5rem;
    background-color: #F0F2F5;
    width: 12rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
.desktop-1-2 span i,.desktop-1-2 span{
    font-size: 16px;
    color: #939496;
}
.desktop-navbar-2,.desktop-navbar-3{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.desktop-2-1{
    width: 2.5rem;
    height: 2.5rem;
    
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.desktop-2-1 i{
    color: #636569;
    font-size: 20px !important;
}
.desktop-2-1 i.active,.desktop-3-1 i.active{
    color: #0866FF;
}
.desktop-2-1:hover{
  background-color: #F0F2F5;
}
.desktop-2-1:hover .desktop-2-1-1{
    display: block;
}
.desktop-2-1-1,.desktop-3-1-1{
    position: absolute;
    top: 2.7rem;
    /* width: 3.5rem; */
    /* height: 1.7rem; */
    padding: 0.2rem 0.4rem;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 5px;
    display: none;
    z-index: 1001;

}

.desktop-2-1-1 span,.desktop-3-1-1 span{
    color: white;
}

.desktop-3-1 {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #D8DADF;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.desktop-3-1:hover .desktop-3-1-1 {
    display: block;
}

.desktop-3-1 i{
 font-size: 20px !important;
}
.desktop-3-2 img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/* search item */
.display{
    display: none;
}
.searchItem{
    width: 17.2rem;
    max-height: 30rem;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.searchitem-1{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.searchitem-1 i{
    font-size: 16px;
    font-weight: bold;
    color: #939496;
    cursor: pointer;
}
.searchitem-1 input{
    width: 100%;
    background-color: #F0F2F5;
    padding: 0.3rem 0.5rem;
    outline: none;
    border-radius: 5px;
}
.searchitem-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchitem-2 span{
   font-size: 16px;
   font-weight: 700;
}
.searchitem-2 a{
    color: #0866FF;
    width: 2.2rem;
    height: 1.7rem;
    /* border: 1px solid saddlebrown; */
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.searchitem-2 a:hover{
    background-color: #F0F2F5;
}
.searchitem-3{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.searchitem-3-1{
    
    width: 100%;
    height: 2.5rem;
    padding: 0.2rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchitem-3-1:hover{
 background-color: #F0F2F5;
}
.searchitem-3-1-1{
    display: flex;
    gap: 0.5rem;
}
.searchitem-3-1-1 img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

/* menu item */
.menuItem {
    width: 32rem;
    height: 90vh;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: #F7F8FA;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 500;
   
}
.menuItem h1{
    font-size: 22px;
    font-weight: bold;
}
.menuItem-1{
    display: flex;
    gap: 1rem;
}
.menu-section-1{
    width: 18rem;
    max-height:80vh;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.menu-section-1-1 input{
    width: 100%;
    padding: 0.3rem 0.5rem;
    background-color: #F0F2F5;
    outline: none;
    border-radius: 5px;
}
.menu-section-1-2{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menu-section-1-2 h2{
    font-size: 18px;
    font-weight: 500;
    padding: 0.3rem 0;
}
.menu-section-1-2-1{
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.menu-section-1-2-1:hover{
    background-color: #F0F2F5;
}
.menu-section-1-2-1-1 i{
    font-size: 24px !important;
    font-weight: bold;
}
.menu-section-1-2-1-2{
    display: flex;
    flex-direction: column;
    /* gap: 0.3rem; */
}
.menu-header{
    font-size: 16px;
    font-weight: 500;
}
.menu-text{
    font-size: 14px;
}

.menu-section-2 {
    width: 12rem;
    max-height: 60vh;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.menu-section-2 h2{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.menu-section-2-1{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 0.2rem 0.3rem;
    border-radius: 7px;
}
.menu-section-2-1:hover{
background-color: #F0F2F5;
}
.menu-section-2-1-1{
    width: 30px;
    height: 30px;
    background-color: #D8DADF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-section-2-1-2 span{
    font-size: 16px;
    font-weight: 500;
}
.bottom-border{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.messenger,.notification {
    width: 20rem;
    height: 92vh;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1000;

}
.messenger-1,.notification-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.messenger-1 span,.notification-1 span{
    font-size: 18px;
    font-weight: bold;
}
.messenger-1 i,.notification-1 i{
    cursor: pointer;
}

.messenger-2 input{
    width: 100%;
    height: 2.2rem;
    background-color: #F0F2F5;
    outline: none;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}
.messenger-3,.notification-2{
    display: flex;
    gap: 2rem;
}
.messenger-3 span,.notification-2 span{
    font-size: 16px;
    font-weight: 500;
}
.messenger-3-active,.notification-2-active{
    background-color: #DFE9F2;
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
    color: #0866FF;
}
.messenger-4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 77vh;
    /* border: 1px saddlebrown solid; */
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.messenger-chat,.notification-item{
    width: 100%;
    /* height: 4rem; */
    
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    position: relative;
}
.messenger-chat:hover,.notification-item:hover{
  background-color: #F0F2F5;
}
.messenger-chat-1{
    width: 50px;
    height: 50px;
}
.messenger-chat-1 img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.messenger-chat-2{
    display: flex;
    flex-direction: column;
    gap: 0rem;
}
.chatname{
    font-size: 16px;
    font-weight: 500;
}
.chat-text{
    font-size: 13px;
}
.messenger-chat-3,.notification-item-3{
    position: absolute;
    right: 1rem ;
    width: 30px;
    height: 30px;
    background-color: white;
    /* border: 1px saddlebrown solid; */
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.messenger-chat:hover .messenger-chat-3{
    display: flex;
}
.messenger-chat-4{
    position: absolute;
    top: 2.5rem;
    left: 3rem;
    width: 16px;
    height: 16px;
    background-color: #2F9A48;
    border: 2px solid white;
    border-radius: 100%;
}

/* notification */
.notification{
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.notification-item-1{
    width: 60px;
    height: 45px;
}
.notification-item-1 img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.notification-item-2{
    display: flex;
    
}
.notification-text{
    font-size: 14px;
}
.notification-header{
    font-weight: 500;
}
.notification-item:hover .notification-item-3{
    display: flex;
}
.notification-item-4 {
    position: absolute;
    top: 2.3rem;
    left: 2.2rem;
    width: 22px;
    height: 22px;
    background-color: #2F9A48;
    border: 2px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-item-4 i{
    font-size: 12px;
    color: white;
}
/* account */
.account{
    width: 20rem;
    height: auto;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1000;
}

.account-1{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.account-1-1 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    /* height: 2.5rem; */
    padding: 0.2rem 0.3rem;
    border-radius: 7px;
}

.account-1-1:hover {
    background-color: #F0F2F5;
}
.account-1-1 img{
 width: 40px;
 height: 40px;
 border-radius: 100%;
}
.account-1-1 span{
    font-size: 18px;
    font-weight: 500;
}
.account-1-1-img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 2px solid #ccc;
    position: relative;
}
.account-1-1-img::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #ccc;
}
.account-1-hr{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.account-1-button{
    width: 100%;
    padding: 0.4rem 0;
    background-color: #D8DADF;
    border-radius: 5px;
}
.account-2{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    padding: 0.2rem 0.3rem;
    border-radius: 7px;
    /* margin-top: 1rem; */
    cursor: pointer;
}
.account-2-1{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.account-2-1-1{
    width: 35px;
    height: 35px;
    background-color: #D8DADF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}
.account-2:hover {
    background-color: #F0F2F5;
}
.account-2-1-2 span{
    font-size: 15px;
    font-weight: 500;
}
.account-3 a{
    font-size: 14px;
}
.account-3 a:hover{
    text-decoration: underline;
}
@media(max-width:770px){
    .desktop-navbar{
        display: none;
    }
}

@media(min-width:1050px){
    .desktop-2-1 {
        width: 5rem;
        height: 3.5rem;
  
        
    }
    
    .desktop-2-1 i {
        color: #636569;
        font-size: 24px !important;
    }
    .menuItem {
        width: 40rem;
    }
    .menu-section-1 {
        width: 24rem;
    }
}