.home{
    width: 100%;
    height: 100vh;
    border: 1px saddlebrown solid;
    background-color: #F0F2F5;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* left */
.home-left{
    /* border: 1px saddlebrown solid; */
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    /* align-items: center; */
}

.left-profile,.left-item,.home-left-3{
    width: 100%;
    display: flex;
    gap: 0.7rem;
    padding: 0.5rem 0.4rem;
    
    align-items: center;
    border-radius: 8px;
}
.left-profile img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.left-profile:hover,.left-item:hover,.home-left-3:hover{
background-color: #D8DADF;
}
.left-profile span,.left-item span{
    font-size: 15px;
    font-weight: 500;
}
.left-item i{
    font-size: 20px;
}
.home-left-2{
    padding: 0.5rem 0.4rem;
    display: flex;
    justify-content: space-between;
}
.home-left-2 span:nth-child(1){
    font-size: 16px;
    font-weight: bold;
    color: #86898D;
}
.home-edit{
    color: #005FC6;
    display: none;
}
.home-left-2:hover .home-edit{
    display: block;
}
.home-left-hr{
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.home-left-3 img{
    width: 35px;
    height: 35px;
    border-radius: 8px;
}
.home-left-3 span{
    font-size: 15px;
    font-weight: 500;
}

/* home-middle */
.home-middle{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.homemiddle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.homemiddle-1{
    width: 45rem !important;
    /* border: 1px solid saddlebrown; */
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    position: relative;
   
}
.homemiddle-create{
    min-width: 7rem !important;
    height: 11rem;
    /* border: 1px solid red; */
    border-radius: 8px;
    background-color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    
}
.homemiddle-create::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
        /* Initially hidden */
    transition: opacity 0.3s ease;
}
.homemiddle-create:hover::after {
    opacity: 1;
    z-index: -1;
   
}
.homemiddle-create img{
    width: 100%;
    height: 75%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 1rem;
}
.homemiddle-create span{
    text-align: center;
    
}
.homemiddle-plus{
    position: absolute;
    top: 60%;
    left: 30%;
    width: 2.8rem;
    height: 2.8rem;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homemiddle-plus-1{
    width: 2rem;
    height: 2rem;
    background-color: #005FC6;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homemiddle-plus-1 span{
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.story{
    min-width: 7rem;
    height: 11rem;
    /* border: 1px solid red; */
    border-radius: 8px;
    background-color: white;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
.story::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
}
.story .story-main{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.story-profile{
    position: absolute;
    top: 0.5rem;
    left: .5rem;
    z-index: 100;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #005FC6;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.story-profile-1{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}
.story-profile-1 img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.story-active{
    width: 0.8rem;
    height: 0.8rem;
    background-color: green;
    border-radius: 100%;
    z-index: 200;
    position: absolute;
    top: 2rem;
    left: 2.1rem;
    border: 2px solid white;
}
.story-active-hide{
    display: none;
}
.story-text{
    position: absolute;
    /* left: 50%; */
    bottom: 0.5rem;
    z-index: 200;
    padding:  0 0.3rem;
    /* text-align: center; */
    
}
.story-text span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center !important;
}
.click-button-left{
   
    position: absolute;
    top: 40%;
    left: 2%;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 100%;
    z-index: 300;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.click-button-right{
    
    position: absolute;
    top: 40%;
    right: 2%;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 100%;
    z-index: 300;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-right{
    border: 1px solid seagreen;
}

@media(max-width:768px){
    .home{
        display: flex;
    }
     .home-middle{
        width: 100%;
     }
    .home-left,.home-right{
        display: none;
    }
}